# Tests with salaries dataset from CAP-5768 Fall 2019

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/salaries.csv')

In [6]:
df.columns

Index(['earn', 'height', 'sex', 'ed', 'age', 'race'], dtype='object')

In [7]:
print(df.dtypes)

earn      float64
height    float64
sex        object
ed          int64
age         int64
race       object
dtype: object

In [8]:
df.head()

      earn     height     sex  ed  age   race
0  50000.0  74.424439    male  16   45  white
1  60000.0  65.537543  female  16   58  white
2  30000.0  63.629198  female  16   29  white
3  50000.0  63.108562  female  16   91  other
4  51000.0  63.402484  female  17   39  white

In [9]:
df.describe()

                earn       height           ed          age
count    1192.000000  1192.000000  1192.000000  1192.000000
mean    23154.773490    66.915154    13.504195    41.378356
std     19472.296925     3.853968     2.420175    15.867428
min       200.000000    57.503219     3.000000    18.000000
25%     10000.000000    64.009746    12.000000    29.000000
50%     20000.000000    66.451265    13.000000    38.000000
75%     30000.000000    69.848100    16.000000    51.000000
max    200000.000000    77.051282    18.000000    91.000000